@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
}
.brand {
  transform: rotate(-3deg);
  font-size: 1.4rem;
  font-weight: bold;
}

.icons div {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.icons div:hover {
  background-color: #0e2b43;
}

.location {
  border-radius: 8px 8px 0 0;
}

@layer base {
  h1 {
    @apply font-semibold text-2xl
  }
  h2 {
    @apply font-semibold text-xl
  }
  h3 {
    @apply font-semibold text-gray-600 text-xs uppercase w-1/3 
  }
  .brand {
    @apply cursor-pointer italic 
  }
  nav ul {
    @apply flex flex-col p-4 text-gray-800 cursor-pointer
  }
  ul li {
    @apply text-xl py-4 flex hover:bg-gray-100
  }
  .overlay {
    @apply bg-black/80 fixed w-full h-screen z-10 top-0 left-0
  }
  .navOpen {
    @apply fixed top-0 left-0 w-[300px] h-screen bg-white z-10 duration-300
  }
  .navClosed {
    @apply fixed top-0 left-[-100%] w-[300px] h-screen bg-white z-10 duration-300
  }
  .selected {
    @apply bg-black text-white rounded-full p-2 cursor-pointer
  }
  .option {
    @apply p-2 cursor-pointer transition-all duration-300 ease-in-out
  }
  .cart {
    @apply bg-white text-black hidden md:flex items-center py-2 px-4 rounded-full
  }
  .dropdown {
    @apply absolute right-0 mt-2 w-48 bg-white border rounded-lg shadow-lg
  }
  .dropdown a {
    @apply block px-4 py-2 text-gray-800 hover:bg-gray-200 rounded-lg
  }
  .heroText {
    @apply px-4 text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-primary-color
  }
  .title {
    @apply text-primary-color font-bold text-4xl text-center pb-4
  }
  .card {
    @apply absolute w-full h-full bg-black/50 rounded-xl text-white px-4
  }
  .card p {
    @apply font-bold text-2xl pt-4
  }
  .card button {
    @apply absolute bottom-4 left-4 rounded-lg bg-black text-white px-2 py-1 hover:border hover:border-white
  }
  .cardImg {
    @apply max-h-[160px] md:max-h-[200px] w-full object-cover rounded-xl
  }
  .category {
    @apply bg-gray-100 rounded-lg p-4 flex justify-between items-center
  }
  .foodItem {
    @apply border shadow-lg rounded-lg hover:scale-105 duration-300
  }
  button {
    @apply text-white rounded focus:outline-none;
  }
  label {
    @apply block text-xs uppercase tracking-wide font-bold text-gray-700 mb-2
  }
  .filter button {
    @apply m-1 px-2 py-1 rounded-full border border-primary-color text-primary-color hover:bg-primary-color hover:text-white
  }
  form {
    @apply bg-white shadow-md rounded p-8 mt-10 mx-auto md:max-w-[70%] lg:max-w-[40%]
  }
  form input {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 my-2
  }
  .formRedirect {
    @apply inline-block align-baseline font-bold text-sm text-orange-500 hover:text-orange-700
  }
  .formButton {
    @apply bg-black hover:bg-gray-600 font-bold py-2 px-4
  }
  .remove {
    @apply font-semibold hover:text-red-500 text-gray-500 text-xs cursor-pointer
  }
  .buttonOrange {
    @apply border-none bg-orange-500 hover:bg-orange-600 text-sm text-white uppercase px-5 py-2 
  }
  .buttonBlack {
    @apply w-full border-none bg-black font-semibold hover:bg-gray-600 text-sm text-white uppercase py-3
  }
  .location {
    @apply flex items-center gap-2 p-3 bg-orange-500 absolute bottom-0 text-sm font-bold text-white cursor-pointer
  }
}